@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 72px;
  background-color: #f9f9f9;
}

/* navbar */
.navbar-container {
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px);
  padding: 0 16px;
}

.navbar-toggle-icon {
  color: #000000;
  font-size: 24px;
  cursor: pointer;
}

.navbar-brand-container {
  margin-left: 4px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-logo {
  height: 72px;
}

.navbar-light .navbar-icon {
  padding: 12px;
  font-size: 24px;
  color: #000000;
}
.navbar-expand-md .navbar-nav .nav-link{
  padding: 0px;
}
.navbar-light .navbar-nav .nav-item {
  padding: 0 16px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  content: "\e946";
  font-family: "viatrips";
  font-size: 20px;
  border: none;
  vertical-align: 0;
}

.dropdown.show .dropdown-toggle::after {
  content: "\e949";
}

.dropdown-menu {
  top: 53px;
  border: none;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-mobile .dropdown-mobile-content {
  display: none;
}
.dropdown-item{
  font-size: 16px;
  font-weight: 600;
}
.dropdown-mobile .dropdown-link::after {
  content: "\e946";
  font-family: "viatrips";
  font-size: 20px;
  color: #5c6470;
  position: absolute;
  right: 16px;
}

.dropdown-mobile .dropdown-link.active::after {
  content: "\e949";
}

.image-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sidebar */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar-content {
  padding-left: 39px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar .close-btn {
  font-size: 24px;
  color: #000;
  display: block;
  height: 48px;
  margin-bottom: 12px;
}

.sidebar a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  display: flex;
  transition: 0.3s;
  align-items: center;
}

.sidebar .sidebar-icon {
  font-size: 24px;
  display: block;
  margin-right: 8px;
}

.sidebar .signin-btn {
  margin-bottom: 16px;
  color: black;
}

.sidebar .signin-btn:active {
  margin-bottom: 16px;
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
  border: solid 2px #4340d8 !important;
}

.sidebar .signin-icon {
  font-size: 24px;
  display: block;
  margin-right: 8px;
}

.sidebar .primary-button {
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  border: 2px solid #4340d8;
  margin-top: 4px;
  padding: 10px 28px 10px 40px;
  justify-content: center;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* breadcrumb */
.breadcrumb-container .breadcrumb {
  background-color: transparent;
  padding: 0;
  padding-left: -15px;
  padding-right: -15px;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumb-container .breadcrumb-item {
  align-items: center;
  display: flex;
}

.breadcrumb-item > a {
  color: #5c6470;
  text-decoration: none;
}

.breadcrumb-icon {
  font-size: 24px;
  display: block;
}

.breadcrumb-container .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 8px;
  color: #5c6470;
  content: "\e947";
  font-family: "viatrips";
  font-size: 16px;
}

.breadcrumb-item.active  {
  color: #8F97A3;
}

/* title */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-index {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.title-index h2 {
  font-size: 24px;
  color: #4340d8;
  font-weight: 700;
  margin-bottom: 0;
}

.underline-title {
  width: 40px;
  height: 4px;
  background-color: #ffca00;
  border-radius: 2px;
}

/* Footer */
.footer {
  background-color: #fff;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 40px;
  padding-top: 32px;
}

#footerCollapse .card:last-child {
  margin-bottom: 16px;
}

#footerCollapse .card-header {
  background-color: #fff;
  border: none;
  padding: 0;
}

#footerCollapse .header-btn {
  width: 100%;
  padding: 16px;
  font-weight: bold;
  font-size: 16px;
  color: #4340d8;
  text-align: left;
  background-color: #fff;
  border: none;
}

#footerCollapse .header-btn:focus {
  border: none;
  outline: none;
}

#footerCollapse .header-btn.collapsed::after,
#footerCollapse .header-btn::after {
  top: 0;
  right: 19px;
  font-size: 24px;
  content: "\e946";
  line-height: 50px;
  padding-left: 20px;
  position: absolute;
  font-family: viatrips;
  color: #5c6470;
}

#footerCollapse .header-btn:after {
  content: "\e949";
}

.footer .footer-title {
  color: #4340d8;
  font-size: 20px;
  font-weight: 700;
}

.social-section a {
  text-decoration: none;
}

.footer .social-icon {
  font-size: 24px;
  color: #000;
  margin-right: 16px;
  text-decoration: none;
}

#footerCollapse .card:first-child {
  border-top: none;
}
#footerCollapse .card-body {
  padding: 0px 16px 8px;
}

.footer .payment-icon {
  margin-right: 6px;
  margin-bottom: 16px !important;
}

.footer-link-items {
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer-link-items li {
  margin-bottom: 8px;
}

.footer-link-items a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px !important;
}

.footer .email-address {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #4340d8;
}
.footer .email-input {
  border: 0;
}

.footer .send-icon {
  display: block;
  font-size: 24px;
  z-index: 99;
}

.footer .right-icon-container {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #4340d8;
}

.copyright {
  font-size: 16px;
  font-weight: 500;
}

.receive-news input[type="checkbox"],
.receive-news input[type="checkbox"]:checked {
  accent-color: #4340d8;
}

/* RESPONSIVE */
/* XL */
@media (min-width: 1200px) {
  .title-container {
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .navbar-light .navbar-icon:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  .sidebar a:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  .footer-link-items a:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  #message-btn:hover {
    color: black !important;
    background-color: #ffca00;
  }
  .dropdown-item:focus, .dropdown-item:hover{
    color: #4340d8;
    background-color: #ECECFB;
  }
  #scroll-to-top:hover {
    background-color: #4340d8;
    color: white;
    transition: all ease 0.5s;
  }
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px) {
  .title-container {
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .navbar-light .navbar-icon:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  .sidebar a:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  .footer-link-items a:hover {
    color: #4340d8;
    transition: all ease 0.5s;
  }
  #message-btn:hover {
    color: black !important;
    background-color: #ffca00;
  }
  .dropdown-item:focus, .dropdown-item:hover{
    color: #4340d8;
    background-color: #ECECFB;
  }
  #scroll-to-top:hover {
    background-color: #4340d8;
    color: white;
    transition: all ease 0.5s;
  }
}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {
  .title-container {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
  }
  .footer-link-items a:hover {
    text-decoration: none;
  }
  .dropdown-item:focus, .dropdown-item:hover{
    color: #4340d8;
    background-color: #ECECFB;
  }
  .primary-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px #4340d8;
    color: black;
  }
}

/* SM */
@media (min-width: 576px) and (max-width: 767px) {
  .title-container {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .footer .container {
    max-width: none;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
  }
  .footer-link-items a:hover {
    text-decoration: none;
  }
  .primary-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px #4340d8;
    color: black;
  }
}

/* XS */
@media (max-width: 575px) {
  .title-container {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .footer .container {
    max-width: none;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
  }
  .footer-link-items a:hover {
    text-decoration: none;
  }
  .primary-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px #4340d8;
    color: black;
  }
}

/* chatbox */
.chat-box-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
}
button.chatbox-open {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(16, 0, 96, 0.15);
  border: 0;
  padding: 0px;
  border-radius: 50%;
  cursor: pointer;
  margin: 16px;
  z-index: 99999;
}
.tickxanh {
  margin-top: 4px;
}
button.chatbox-close {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #1b1a56;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(16, 0, 96, 0.15);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin: 16px 95px 16px 16px;
  padding-top: 4px;
  font-size: 24px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: calc(16px + 16px / 2);
  padding: 0 calc(16px / 2);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(16px + 16px / 2);
  color: #888;
  background-color: none;
  border: 0;
  outline: 0 !important;
  resize: none;
  overflow: hidden;
}
textarea::-moz-placeholder {
  color: #888;
}
textarea:-ms-input-placeholder {
  color: #888;
}
textarea::placeholder {
  color: #888;
}

.chatbox-popup {
  display: flex;
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
  display: none;
  bottom: 100px;
  right: 16px;
  width: 377px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  z-index: 999999;
}
.chatbox-popup .chatbox-popup__header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  color: #fff;
  background-color: #4340d8;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
  margin-top: -32px;
  background-color: #4340d8;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.chatbox-popup .chatbox-popup__main {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  color: #888;
  text-align: center;
}
.chatbox-popup__main h5 {
  font-size: 16px;
}
.chatbox-panel__main h5 {
  font-size: 16px;
}
.chatbox-popup .chatbox-popup__footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.chatbox-panel {
  display: flex;
  position: fixed;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
  display: none;
  height: 600px;
  right: 16px;
  bottom: 16px;
  width: 377px;
  background-color: #fff;
  border-radius: 12px 12px 8px 8px;
  z-index: 99999;
}
.chatbox-panel .chatbox-panel__header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  color: #fff;
  background-color: #4340d8;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
  border-radius: 8px 8px 0 0;
}
.chatbox-panel .chatbox-panel__main {
  box-sizing: border-box;
  width: 100%;
  padding: calc(2 * 16px) 16px;
  line-height: calc(16px + 16px / 2);
  color: #888;
  text-align: center;
  flex: 1 1 auto;
}
.chatbox-panel .chatbox-panel__footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
  border-radius: 0 0 8px 8px;
}
.icon-chatbox {
  font-size: 24px;
}

#message-chatbox {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: #ececfb;
  border-radius: 8px;
  padding: 12px;
  width: 300px;
}
#message-btn {
  color: white !important;
  background-color: #4340d8;
  padding: 12px 20px !important;
  margin: 8px;
  width: 276px;
  border-radius: 8px;
}

#message-btn-box {
  background-color: #ececfb;
  margin-top: 8px;
  width: 300px;
  border-radius: 8px 8px 8px 0;
}

/* top btn */
#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 21px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffca00;
  color: black;
  cursor: pointer;
  padding: 16px 18px 8px 18px;
  border-radius: 100px;
  font-size: 24px;
}

