/*BANNER 1*/
#banner1 {
  background-image: url(../imgs/Banner1-TermConditions.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#logo-term img {
  vertical-align: center;
  margin-top: 40px;
}

#term-conditions h1 {
  margin-top: 40px;
  font-size: 24px;
  color: #4340D8;
  text-align: center;
}

.yellow-line {
  height: 4px;
  background-color: #FDC432;
  width: 80px;
  display: flex;
  float: right;
  border-radius: 8px;
  margin-right: 20px;
}

/*SEARCH*/

.search-container {
  margin-top: 80px;
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 15px 0px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);

}

.icon-location {
  font-size: 24px;
  padding: 8px;

}

.search-container-mobi {
  margin-top: 80px;
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 15px 0px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);

}

.search-box {
  display: flex;
  width: 90%;
  margin-left: -50px;

}

.search-box-mobi {
  display: flex;
  width: 60%;
  margin-left: -50px;
}

.searchbtn {
  display: flex;
  margin-right: -50px;
}

.searchbtn-mobi {
  display: flex;
  float: right;
  margin-right: -50px;
}

input[type="text"] {
  padding: 8px 0px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  outline: none;
}

.searchbtn button {
  padding: 8px 0px;
  background-color: #4340D8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 48px;
  width: 160px;
  font-weight: bold;
}

.searchbtn-mobi button {
  padding: 8px 0px;
  background-color: #4340D8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 48px;
  width: 100px;
  font-weight: bold;
}

.searchbtn button:hover {
  background-color: #282682;
}

/*TERM*/
#policy {
  margin-top: 160px;
}

#panel,
#panel1,
#panel2,
#panel3,
#panel4,
#panel5,
#panel6,
#panel7,
#panel8,
#panel9 {
  padding: 8px;
  text-align: left;
  background-color: #E3E5E8;
  display: none;
  margin-top: 8px;
}

#flip,
#flip1,
#flip2,
#flip3,
#flip4,
#flip5,
#flip6,
#flip7,
#flip8,
#flip9 {
  padding: 12px;
  text-align: left;
  background-color: #E3E5E8;
  font-weight: bold;
  margin-top: 24px;
  border-radius: 8px;
  height: 48px;
}

#flip .icon-arrowline-down,
#flip1 .icon-arrowline-down,
#flip2 .icon-arrowline-down,
#flip3 .icon-arrowline-down,
#flip4 .icon-arrowline-down,
#flip5 .icon-arrowline-down,
#flip6 .icon-arrowline-down,
#flip7 .icon-arrowline-down,
#flip8 .icon-arrowline-down,
#flip9 .icon-arrowline-down {
  font-size: 24px;
  float: right;
}

/* Title ContactUs */
.titleContactUs h2 {
  justify-content: center;
  font-size: 24px;
  color: #4340d8;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.underline-titleContactUs {
  width: 40px;
  height: 4px;
  background-color: #FFCA00;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-right: 475px;
  float: right;
}

/* contact us */
.contactusbox-FAQs {
  padding: 24px;
}

.title2-FAQs {
  font-size: 20px;
  color: #454b54;
  font-weight: 500;
  margin-bottom: 16px;
  justify-content: center;
  margin-top: 8px;
}

.labelcontactus-FAQs {
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

#input-FAQs {
  border-radius: 8px;
  padding: 12px 20px;
  border: solid 1px #737d8c;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

#input-FAQs:focus {
  border: solid 1px #4340d8;
}

#comment-FAQs {
  border-radius: 8px;
  padding: 12px 20px;
  border: solid 1px #737d8c;
  font-size: 16px;
  font-weight: 400;
  height: 136px;
}

#comment-FAQs:focus {
  border: solid 1px #4340d8;
}

.btncontactus-FAQs {
  background-color: #4340d8;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  margin-top: 16px;
  float: right;
  font-size: 16px;
  font-weight: 700;
}

#contactBox {
  margin-top: 20px;
}

#banner2 {
  margin-top: 40px;
  background-image: url(../imgs/Banner2-TermConditions.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 542px;
}

/* XL */
@media (min-width: 1200px) {
  .search-container-mobi {
    display: none;
  }

  .search-container {
    width: 70%;
  }
}

/* LG */
@media (min-width: 992px) and (max-width:1199px) {
  .search-container-mobi {
    display: none;
  }

}

/* MD */
@media (min-width: 768px) and (max-width:991px) {
  .search-container {
    display: none;

  }

  .search-container-mobi {
    display: block;
  }

  .searchbtn:hover {
    pointer-events: none;
  }

  .searchbtn-mobi button {
    width: 160px;
  }

}

/* SM */
@media (min-width: 576px) and (max-width:767px) {
  .search-container {
    display: none;
  }

  .searchbtn:hover {
    pointer-events: none;
  }
}

/* XS */
@media (max-width: 575px) {
  .search-container {
    display: none;
  }

  .searchbtn:hover {
    pointer-events: none;
  }

}